body {
    background: rgb(88, 83, 72);
    margin: 0;
    color: whitesmoke;
    font-family: 'Oswald', sans-serif;
}

h1, h2 {
    font-family: 'Creepster', cursive;
    display: block;
    justify-content: center;
}

h1 {
    color: red;
}

h2 {
    color:rgb(105, 148, 40);
    display: flex;
    justify-content: center;
    text-shadow:
    -1px -1px 0 rgb(255, 255, 255),
    1px -1px 0 rgb(255, 255, 255),
    -1px 1px 0 rgb(255, 255, 255),
    1px 1px 0 rgb(255, 255, 255);
}

legend {
    display: flex;
    justify-content: center;
}

#avatar {
    display: flex;
    justify-content: center;
}

div.enter {
    display: flex;
    justify-content: center;
    margin-top: 60px;
    font-family: 'Creepster', cursive;
}

button{
    font-family: 'Creepster', cursive;
    color: red;
}

.text-promt {
    display: flex;
    justify-content: center;
}

.hidden {
    display: none;
}

main {
    display: block;
    justify-content: center;
}
header, main {
    padding: 8px;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgb(24, 10, 10);
    border: 2px solid orange;
    font-family: 'Creepster', cursive;
    text-shadow:
		-1px -1px 0 rgb(255, 255, 255),
		1px -1px 0 rgb(255, 255, 255),
		-1px 1px 0 rgb(255, 255, 255),
		1px 1px 0 rgb(255, 255, 255);
}

h1 {
    margin: 0 20px;
    flex-grow: 2;
    display: flex;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0; right: 0;
    height: 15px;
    background: lightgrey;
    text-align: center;
    padding-bottom: 12px;
    background: rgb(24, 10, 10);
    border: 2px solid orange;
    font-family: 'Creepster', cursive;
}

main {
    margin-bottom: 100px;
}


input, fieldset, button {
    border: 1px solid orange;
}

button {
    margin: 20px 0;
    padding: 20px;
    font-size: 1.2em;
    font-weight: bolder;
}